<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.seniorsigan.zkpauthenticatorclient">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.seniorsigan.zkpauthenticatorclient.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.seniorsigan.zkpauthenticatorclient.QRCodeScannerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="org.seniorsigan.zkpauthenticatorclient.TokenParserActivity" android:noHistory="true"/>
        <activity android:name="org.seniorsigan.zkpauthenticatorclient.SignupActivity" android:label="Signup" android:noHistory="true"/>
        <activity android:name="org.seniorsigan.zkpauthenticatorclient.LoginActivity" android:label="Choose account" android:noHistory="true"/>
        <activity android:name="org.seniorsigan.zkpauthenticatorclient.SuccessActivity" android:noHistory="true"/>
        <activity android:name="org.seniorsigan.zkpauthenticatorclient.FailureActivity" android:noHistory="true"/>
        <activity android:name="org.seniorsigan.zkpauthenticatorclient.LinkScannerActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="org.seniorsigan.zkpauth"/>
                <data android:pathPattern=".*"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
